# Maven or Gradle dependencies
**/target/
**/build/

# Eclipse specific files
.classpath
.project
.settings/

# IntelliJ specific files
.idea/
*.iml
*.iws
out/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific files
.vscode/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.old
*.orig

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific
*.temp
*.pid
*.gz

# Application files
*.war
*.jar

# Configuration files
application*.yml
application*.properties
.env

# Git ignore itself
.gitignore

*.xml
*.pb
